numpy
scipy
sympy
scikit-learn
matplotlib
pandas
seaborn
flask
flask-socketio
gradio
Django
beautifulsoup4
selenium
torch
torchvision
torchaudio
timm
autograd
jupyter
black
pylint
jsbeautifier
pygame
qrcode
tqdm
tinydb
fastapi
"jax[cpu]"
spacy